body{
  background-color: #0D0E11;
}
@font-face {
	font-family: "post-no-bills";
	src: url("../fonts/post-no-bills/postnobillscolombo-extrabold.ttf");
}

@font-face {
	font-family: "poly-italic";
	src: url("../fonts/Poly/Poly-Italic.ttf");
}

@font-face {
	font-family: "poly-reg";
	src: url("../fonts/Poly/Poly-Regular.ttf");
}

@font-face {
	font-family: "pragati-narrow";
	src: url("../fonts/pragati-narrow/PragatiNarrow-Regular.otf");
}

@font-face {
	font-family: "porter-sans";
	src: url("../fonts/porter-sans/porter-sans-inline-block.otf");
}

.App {
  width: 100%;
  height: 100vh;
  background-color: #0D0E11;
  scroll-behavior: smooth;
  font-family: 'poly-reg';
}

/* All tabs */
.App .tabs {
  position: relative;
  width: 100%;
  background-color: #0D0E11;
}

/* Tab 1 */
.App #Home{ 
  padding: 0;
}
.App #Home #background-image { 
  position: absolute;
  width: 100%;
  background-size: contain;
  z-index: 0;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,255), rgb(255, 255, 255), rgba(255,255,255,0)); 
  margin: -100px 0 0 0;
}

.App #Home #logo-image {
  scale: 0.1;
  position: absolute;
  z-index: 2;
  left: -300px;
  top: -270px
}

.App #Home #profile-wrapper {
  position: relative;
  width:  350px;
  height: 350px;
  display: inline-block;
  margin-left: 10vw;
  margin-right: 18vw;
  margin-top: 25vh;
  z-index: 1;
}

.App #Home #profile-wrapper #border-1, .App #Home #profile-wrapper #border-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  border: solid 6px;
  z-index: 1;
}

.App #Home #profile-wrapper #border-1{
  bottom: 1px ;
  border-color: #002F8E;
}

.App #Home #profile-wrapper #border-2{
  bottom: 10px;
  left: 10px;
  border-color: #BEB786;
}

.App #Home #profile-wrapper #profile{
  position: absolute;
  bottom: 22px;
  left: 22px;
  width: 100%;
  height: 100%;
  background-color: red;
  background-size: contain;
  z-index: 2;
}

.App #Home #profile-wrapper #profile::after{
  content: "";
  background: #002F8E;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0.85;
}

.App #Home #profile-wrapper #profile:hover::after{
  transition: 0.5s;
  opacity: 0;
}

.App #Home #intro-wrapper{
  position: relative;
  width: 500px;
  height: 400px;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  border-right: solid 7px #BEB786;
  overflow: hidden;
}

.App #Home #intro-wrapper h1{
  font-family: 'post-no-bills';
  font-size: 4vw;
}

.App #Home #intro-wrapper #intro-1{
  margin: 160px 0 0 0;
  color: #BEB786;
}

.App #Home #intro-wrapper #intro-2{
  margin: 0;
  color: #C9C9C9;
}

.App #Home #intro-wrapper #divider-2{
  position: absolute;
  height: 380px;
  width: 7px;
  background-color: #002F8E;
  right: 20px;
  top: 60px;
}


/* Tab 2 */

.App #Tab2{
  position:relative;
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to top, rgba(0,0,0,255), rgba(0,0,0,170), rgba(0,0,0,170), rgba(0,0,0,170),rgba(0,0,0,0));
  z-index: 2;
}

.App #Tab2 #intro-text-wrapper{
  margin: 0 auto;
  margin-top: 20%;
  width: 80%;
  height: 20%;
  z-index: 3;
}

.App #Tab2 #achievement-heading-wrapper{
  position: relative;
  word-wrap: break-word;
  text-align: center;
}
.App #Tab2 #achievement-heading-wrapper #Achievement{
  font-family: 'post-no-bills';
  margin: 0;
  font-size: 15vw;
  color: #BEB786;
}

.App #Tab2 #intro-text-wrapper h3{
  background-color: none;
  text-align: justify;
  color: #e0e0e0;
  font-size: 1.5vw;
  width: 600px;
  float: left;
}

.App #Tab2 #profile-wrapper-2{
  position: relative;
  width: 330px;
  height: 330px;
  background-color: none;
  float: right;
  margin: 0;
  overflow: hidden;
}

.App #Tab2 #profile-wrapper-2 #border-1-2{
  position: absolute;
  right:0px;
  bottom: 0px;
  width: 300px;
  height: 300px;
  border: solid white 6px;
}

.App #Tab2 #profile-wrapper-2 #border-2-2{
  position: absolute;
  right:13px;
  bottom: 13px;
  width: 300px;
  height: 300px;
  border: solid #BEB786 6px;
}

.App #Tab2 #profile-wrapper-2 #profile-2{
  position: absolute;
  right:25px;
  bottom: 25px;
  width: 300px;
  height: 300px;
  background-color: white;
}

.App #Tab2 #intro-text-wrapper .graduation{
  background-color: green;
  position: relative;
  width: 100%;
  height: 100%;
}

.App #Tab2 #UCL-wrapper{
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  width: 991px;
  height: 403px;
  background-color: none;
  display: grid;
  grid-template-columns: 70% 30%;
  overflow: hidden;
  z-index: 5;
}

.App #Tab2 #QMUL-wrapper{
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  width: 991px;
  height: 403px;
  background-color: none;
  display: grid;
  grid-template-columns: 30% 70%;
  overflow: hidden;
  z-index: 5;
}

.App #Tab2 .uni-text{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  position: relative;
  text-align: center;
  padding-top: 50% ;
}

.App #Tab2 .uni-img{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: -5px -8px 0 0;
}

.App #Tab2 .uni-images{
  position: relative;
  mask-image: linear-gradient(to bottom, rgba(0,20,59,255), rgba(29, 0, 116, 0.422)); 
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
}

.App #Tab2 .uni-img h1{
  color: white;
  text-shadow: 3px 3px black;
  position: absolute;
  left: 23%;
  bottom: 26px;
  z-index: 11;
  opacity: 0.7;
}


/* Tab 3 */

.App #Tab3 {
  margin: 0;
  position:relative;
  background-color: transparent;
  width: 100%;
  overflow: hidden;
}

.App #Tab3 #Skills{
  position: relative;
  margin: 0;
  width: 100%;
  height: 40%;
  text-align: center;
}

.App #Tab3 #Skills #Skill-text{
  position: relative;
  margin: 0;
  font-family: 'post-no-bills';
  font-size: 20vw;
  color: #BEB786;
}

.App #Tab3 #skill-boxes{
  margin: 0;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  position: relative;
  width: 75%;
  margin: 0 auto;
}
.App #Tab3 #skill-boxes .skill-box{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border-radius: 30px;
  color:white;
  word-break: break-all;
}

.App #Tab3 #skill-boxes .skill-box h1{
  margin: 0;
  margin-bottom: 10px;
  font-family: 'poly-italic';
}

.App #Tab3 #skill-boxes .skill-box p{
  margin: 0;
  font-weight: 300;
  display: inline-block;
  margin-left: 10px;
  font-size: 110%;
}

.App #Tab3 #skill-boxes .skill-box img{
  scale: 1;
  height: 150px;
}

/* Tab 4 PROJECT */

.App #Tab4{
  position: relative;
  background-color: transparent;
  color: #BEB786;
  width: 100%;
  height: 100%;
}

.App #Tab4 #project-splash{

  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.App #Tab4 #Project-text{
  color: #BEB786;
  font-size: 1500%;
  text-align: center;
  margin-left: 30px;
}

.App #Tab4 #project-box{
  position: relative;
  background-color: transparent;  
  width: 70%;
  height: 100%;
  z-index: 4;
  margin: 0 auto;
  display: grid;
}
.App #Tab4 #project-box .project{
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 10%;
  z-index: 7;
  display: grid;
}

.App #Tab4 #project-box .ship-right{
  position: relative;
  z-index: 8;
  grid-template-columns: 60% 40%;
}

.App #Tab4 #project-box .ship-left{
  position: relative;
  z-index: 8;
  grid-template-columns: 40% 60%;
}

.App #Tab4 #project-box .project-shuttle-wrapper{
  position: absolute;
  width: 20%;
  height: 100%;
  z-index: 8;
}

.App #Tab4 #project-box .ship-right .summary-wrapper{
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% 70%;
}

.App #Tab4 #project-box .ship-left .summary-wrapper{
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 70% 30%;
}

.App #Tab4 #project-box .project-shuttle-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}


.App #Tab4 #project-box  .project-shuttle{
  z-index: 10000;
  margin-top: 50px;
  scale: 1.5;
}
.App #Tab4 #project-box .summary-text-wrapper{
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
}

.App #Tab4 #project-box .summary-text-wrapper .project-heading{
  margin: 0;
  font-family: 'post-no-bills';
  font-size: 200%;
  color: #BEB786;
}
.App #Tab4 #project-box .summary-text-wrapper .project-subheading{
  margin: 0;
  font-family: 'poly-italic';
  font-size: 25px;
}

.App #Tab4 #project-box .summary-text-wrapper .tools{
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'pragati-narrow';
}

.App #Tab4 #project-box .summary-text-wrapper .tools .tool{
  background-color: white;
  display:inline-block;
  padding: 0 6px 0 6px;
  margin-left: 6px;
  width: auto;
  border-radius: 25px;
  color: #0D0E11;
}
.App #Tab4 #project-box .project-initials-wrapper{
  text-align: center;
  font-family: 'porter-sans';
  width: 100%;
  word-break: break-all;
}
.App #Tab4 #project-box .project-initials-wrapper h1{
  position: relative;
  font-size: 600%;
}


.App #footer{
  position: relative;
  background-color: blue;
  color: #BEB786;
  width: 100%;
  height: 100px;
}