#navbar-wrapper{
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
}

#navbar-wrapper .nav-option{
    text-decoration: none;
    float:right;
    margin-right: 80px;
    margin-top: 30px;
    font-weight: 800px;
    color: #8F8F8F;
}

#navbar-wrapper .selected{
    color: white;
    text-decoration: none;
}