#navbar-wrapper{
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
}

#navbar-wrapper .nav-option{
    text-decoration: none;
    float:right;
    margin-right: 80px;
    margin-top: 45px;
    font-weight: 1000px;
    color: #000000;
}

#navbar-wrapper .selected{
    padding: 2px 8px 2px 8px;
    border-radius: 20px;
    background-color: #00000019;
    border: solid black 2px;
    font-weight: 700;
}